
/* font-family: 'Inconsolata', monospace;
 height: 100vh;
    background-color: rgb(3, 6, 49);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inconsolata', monospace;
    color: white;

 */
.Certs{
    height: 100vh;
    background-color: rgb(3, 6, 49);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inconsolata', monospace;
    color: white;
}
.certsContainer{
    padding-top: 10%;
}
.certTitle{
    font-family: 'Inconsolata', monospace;
    color: white;
    position: relative;
    top: 50%;
}
.card{
    margin-bottom: 10%;
}