* {
	box-sizing: border-box;
  }
body{
	padding: 0;
	margin: 0
}
nav{
	background-color: black;
	text-align: right;
}
nav a{
	text-decoration: none;
	color: white;
}
.header{
	text-align: center;
}
.column {
	float: left;
	width: 33.33%;
	padding: 0;
	height: 300px; /* Should be removed. Only for demonstration */
  }
  .box{
	 
	  height: 100%;
  }
.row{
float: left;
width: 100%;
padding: 10px;
background-color: rgb(92, 56, 2);
margin-bottom: 10%;
margin-left: 0;

}
 


  iframe{
	  width: 100%;
	  height: 180%;
	  border-color: black;
	  border-style: solid;
	  border-width: 10px;
	  scrollbar-color: orange;
	  margin-left: 0;
	  margin-right:0;
  }
      /* Footer height */
	  ::-webkit-scrollbar{
		width: 10px;
	  }
	  
	  /* Track */
	  ::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px grey; 
		border-radius: 10px;
	  }
	   
	  /* Handle */
	  ::-webkit-scrollbar-thumb {
		background: rgb(107, 70, 21); 
		border-radius: 10px;
	  }
	  
	  /* Handle on hover */
	  ::-webkit-scrollbar-thumb:hover {
		background: #b30000; 
	  }
	  
  @media screen and (max-height: px) {
	.column{
		width: 100%;
	}
  }