.background{
    height: 100vh;
    /* z-index: 3; */
    background-image: url('../../images/secondSection.png');
    background-blend-mode: color-burn;
    background-color: rgb(16, 4, 119);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    font-family: 'Inconsolata', monospace;
    color: white;
}

.bgTitle{
    text-align: left;
    color: white;
    margin-bottom: 5%;
}
.carousel-caption{
    position: static;
    margin-top: 5%;
}