
  .nav {
    position: fixed;
    top: 50%;
    left: 85%;
    width: 1px;
    height: 80px;
    z-index: 1000;
    color:white;
    /* box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15); */
  }
  
  .nav-logo {
    height: 60px;
    width: 60px;
  }
  
  .nav-logo:hover {
    cursor: pointer;
  }
  
  .nav .nav-content {
    max-width: 900px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color:white;
  }
  
  .nav-item {
    display: inline;
    margin-left: 2rem;
    color: white;
  }
  
  .nav-item:hover {
    color: black;
    cursor: pointer;
  }
  
  
  
  .section-dark {
    background: #333;
    color: white;
  }
  
  .section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  @media only screen and (max-width: 600px){
    .nav {
      position: fixed;
      top: 50%;
      left: 63%;
      width: 1px;
      height: 80px;
      z-index: 1000;
      color:white;
      /* box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15); */
    }
  }

  @media only screen and (max-width: 400px){
    .nav {
      position: fixed;
      top: 50%;
      left: 63%;
      width: 1px;
      height: 80px;
      z-index: 1000;
      color:white;
      /* box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15); */
    }
  }
  