.contact{
    height: 100vh;
    background-color: rgb(3, 6, 49);
    color: white;

}
.contactTitle{
    text-align: right;
}
.contImg img{
    width:45%;
    /* border-radius: 100px; */
    /* height: 25; */
    margin-bottom: 10%;
    
    position: absolute;
    left: 30%;
}
@media only screen and (max-width: 600px){
    .contact{
        background-color: rgb(0, 0, 0);
    }    
    
}
@media only screen and (max-width: 400px){
    .contact{
        height: inherit;
        background-color: rgb(0, 0, 0);
    }    
    button{
        margin: 10%;
    }
}